.noto-serif-font {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  background-color: #ffffff;
  max-width: 1440px;
}

/* Shared Color */
.primary-color {
  color: ;
}
.color1 {
  color: #252432;
}
.color2 {
  color: #8987a1;
}
.color3 {
  color: #e95a08;
}
.color4 {
  color: rgba(0, 0, 0, 0.5);
}
.color5 {
  color: #ffffff;
}
.color6 {
  color: #000000;
}

/* Navbar Section Styles */
.nav-container {
  max-width: 1140px;
  margin: 30px auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-services {
  display: flex;
  gap: 48px;
  text-decoration: none;
}
.for-hide {
  display: flex;
  gap: 48px;
}
.nav-services a {
  text-decoration: none;
  font-size: 16px;
}

/* Banner Section Styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.banner-tittle {
  font-size: 4.06rem;
  font-weight: 700;
}
.banner-desc {
  /* margin-top: 13px; */
  font-size: 1.3rem;
}

/* Plants Section Styles */
.plants-container {
  width: 100%;
  margin: 120px auto 210px;
}
.plants-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 49px;
}
.plants-text h1 {
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.plants-text p {
  font-size: 22px;
}

/* Card Section Styles */
.card {
  text-align: center;
}
.card img {
  margin-bottom: 30px;
  width: 100%;
}
.card-details {
  margin-bottom: 30px;
}
.card-details h2 {
  color: #111111;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.card-details h3 {
  color: #111111;
  font-size: 22px;
  font-weight: 700;
}

.btn {
  color: #ffffff;
  padding: 26px 50px;
  font-size: 18px;
  background-color: #e95a08;
  border: none;
  width: 270px;
}
.plants-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
}

/* Lover Section Styles */
.lover-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.lover-details h3 {
  font-size: 50px;
}
.lover-details ul li {
  font-size: 22px;
}
.lover-details * {
  margin: 0;
}
.lover-details {
  max-width: 540px;
  margin: 38px 0px 38px 60px;
  gap: 20px;
}

/* Lover Badge Styles */
.lover-image {
  position: relative;
  flex-shrink: 0;
}
.main-image {
  width: 540px;
  display: block;
}
.badge {
  position: absolute;
  top: -128px;
  right: -92px;
  z-index: 10;
  /* margin-top: 83px; */
  max-width: 286px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}

/* Latest Section Styles */
.latest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 133px auto 120px;
}
.latest-container h3 {
  font-size: 50px;
  margin-bottom: 16px;
}
.latest-container p {
  font-size: 22px;
}

/* Image Section Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 210px);
  gap: 20px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.card-inside {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.card-1 .card-inside h4 {
  font-size: 20px;
  font-weight: bold;
}
.card-1 .card-inside a {
  font-size: 16px;
  font-weight: 600;
}

.card-2 .card-inside h4 {
  font-size: 20px;
  font-weight: bold;
}
.card-2 .card-inside a {
  font-size: 16px;
  font-weight: 600;
}

.card-3 .card-inside h4 {
  font-size: 40px;
  font-weight: bold;
}
.card-3 .card-inside a {
  font-size: 28px;
  font-weight: 600;
}

.card-1,
.card-2,
.card-3 {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 22px;
  overflow: hidden;
  color: white;
  text-align: center;
}
.card-1 {
  background-image: url(../assets/deal-bloom.png);
  grid: 1;
  grid-row: 1;
}
.card-2 {
  background-image: url(../assets/deal-ana.png);
  grid: 1;
  grid-row: 2;
}
.card-3 {
  background-image: url(../assets/deal-zabo.png);
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

/* Join Section Styles */
.join-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(../assets/news-letter-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  /* width: 100%;
  max-width: 1440px; */
}
.input-email {
  padding: 10px;
  width: 830px;
}
.input-button {
  font-size: 16px;
}
.join-tittle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 23px;
}
.join-overlay {
  padding: 196px 305px;
}
.form-containt {
  width: 100%;
  max-width: 830px;
  display: flex;
  justify-content: center;
  gap: 0;
}
.form-containt input[type='button'] {
  color: #ffffff;
  background-color: #e95a08;
  font-size: 16px;
}
.form-containt input[type='email'] {
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
}

.form-containt input[type='button'] {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Footer Section Stytles */
footer {
  margin: 0 auto;
  padding: 50px 160px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
}
.footer-service1,
.footer-service2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-service1 a,
.footer-service2 a {
  text-decoration: none;
}
.footer-tittle {
  font-size: 1.3rem;
  max-width: 359px;
  /* gap: 16px; */
}
.footer-logo {
}
.footer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* Responsive for Mobile */
@media (max-width: 576px) {
  /* Navbar */
  .nav-container {
    margin: 13px 16px 28px;
    align-items: center;
    gap: 20px;
  }

  .nav-services {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .for-hide {
    display: none;
  }

  /* Banner */
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
  }
  .banner-left {
    margin: 0 16px;
    text-align: left;
  }
  br {
    display: none;
  }
  .banner-image {
    width: 100%;
  }

  .banner-tittle {
    font-size: 2.2rem;
  }

  .banner-desc {
    font-size: 1rem;
  }

  /* Plants Section */
  .plants-container {
    margin: 65px auto 41.5px;
  }
  .plants-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    margin-top: 0;
  }

  .plants-text p {
    font-size: 14px;
    margin-bottom: 0;
    padding: 16px 28.5px 28px;
  }

  .btn {
    width: 100%;
    padding: 14px 0;
  }

  /* Lover Section */
  .lover-container {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
  .lover-details {
    margin: 18px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .lover-details ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .lover-details h3 {
    font-size: 30px;
  }
  .main-image {
    width: 100%;
    margin-top: 0;
  }

  /* Latest Section */
  .latest-container h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .latest-container p {
    font-size: 14px;
    margin: 0 28.5px;
  }

  .badge {
    display: none;
  }

  /* Image Cards */
  .card-container {
    grid-template-rows: repeat(3, 210px);
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16px;
    width: 393px;
  }

  .card-3 .card-inside h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .card-3 .card-inside a {
    font-size: 16px;
    font-weight: 600;
  }

  .card-3 {
    grid-column: auto;
    grid-row: auto;
    height: auto;
  }

  /* Join Section */

  .form-containt {
    flex-direction: column;
    gap: 12px;
  }

  .form-containt input {
    width: 100%;
    padding: 10px;
  }

  .join-overlay {
    padding: 60px 20px;
  }

  .join-tittle {
    font-size: 1.8rem;
  }

  .form-containt {
    flex-direction: row;
    gap: 0;
  }

  /* Footer */
  footer {
    padding: 50px 20px;
  }
  .footer-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
}
